#NODE ENVIRONMENT
NODE_ENV =

#EXPRESS
SERVER_PORT=

#DATABASE
DB_DIALECT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

#JWT CONFIG
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

#ENCRYPTION INFO
ENCRYPTION_KEY=